<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>The list of quotes</div>
        <table>
            <tbody>
                <tr th:each="quote : ${quotes}">
                    <td th:text="${quote.id}">id</td>
                    <td th:text="${quote.speaker}"}>Speaker</td>
                    <td th:text="${quote.text}">Text ...</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
